RewriteEngine On
RewriteEngine On #No reescribimos index.php si estamos en la carpeta test
#RewriteRule ^(img)($|/) - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.) index.php
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule . - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
