<form action="/comment/save" method="post" >
    
    <label for="">Comment:</label>
    <textarea id="enquiry_body" name="comment" required="required"></textarea>
    </div>
    <input type="hidden" value = "{{blog_id}}" name="blog_id">
    <input type="submit" id="enquiry_save" name="save" value ="Send">
    </div>
</form>
